html, body {
    min-height: 100%;
    font-weight: 300;
    line-height: 1.5;
    margin:auto;
  }

  header {
    padding: 20px 0;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
  }

  header p {
    padding: 0 20px;
    margin: 0;
  }

h1 {
    color: black;
}

h2{
    font-size: 35px;
    color: chartreuse;
    font-family: Impact, Charcoal, sans-serif;
    line-height: 30px;
    margin-left: 15;
}

p{
    font-size: 30px;
    margin-left: 15;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.past-exhibitions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        
}

.exhibition-poster{
    margin: 20px;
        }

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.gallery {
  display: grid;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 17vw);
  grid-gap: 15px;
  }

  .container {
    font-size: 23px;
    font-weight: 600;
    margin-top: 30;
    margin-left: auto;
    margin-right: auto;
  }

  /* Style the Image Used to Trigger the Modal */
#emmaTalbot1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #emmaTalbot1:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }