html, body {
    min-height: 100%;
    font-weight: 300;
    line-height: 1.5;
    margin:auto;
  }

  header {
    padding: 20px 0;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
  }

  header p {
    padding: 0 20px;
    margin: 0;
  }

h1 {
    color: black
    ;
}

h2{
    font-size: 35px;
    color: chartreuse;
    font-family: Impact, Charcoal, sans-serif;
    line-height: 30px;
    margin-left: 15;
}

h3{
  font-size: 25px;
  color: black;
  font-family: Impact, Charcoal, sans-serif;
  line-height: 30px;
  margin-left: 15;
  font-weight: bold;
}

p{
    font-size: 30px;
    margin-left: 15;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.past-exhibitions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        
}

.exhibition-poster{
    margin: 20px;
        }

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.gallery {
  display: grid;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 17vw);
  grid-gap: 15px;
  }

  .container {
    font-size: 23px;
    font-weight: 600;
    margin-top: 30;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    transition-duration: 0.4s;
    font-size: 24px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 10px;
    width: 80%;
  }
  
  .button:hover {
    background-color:  chartreuse;
    color: white;
  }

  .content{
    width:400px;
    max-height:100px;
    overflow:hidden;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}
.content.open{
    max-height:100px;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}
.show-more{
  font-family:Impact;
  background:chartreuse;
  width:200;
  height:100;
  display: block;
background-color:black;
text-transform:uppercase;
cursor:pointer;
}
#p5Canvas{
width:100%;
height: 100%;
display:block;
position: fixed;
top: 0;
left:0;
z-index: -9999;
}


 
